<%- partial("../partials/new-header-employer.ejs") %>

<!-- General Detail Start -->
<section class="dashboard-wrap">
  <div class="container-fluid">
    <div class="row">

      <%- partial("employer-side-nav.ejs") %>

      <!-- Content Wrap -->
      <div class="col-lg-9 col-md-8">
        <div class="dashboard-body mrg-btm-0">
          <div class="dashboard-caption">

            <div class="dashboard-caption-header">
              <h4><i class="ti-id-badge"></i>Recruiter Profile</h4>

            </div>
            <div class="dashboard-caption-wrap">
              <form id="employer-profile-form">
                <input type="hidden" name="id" value="<%= employer.id %>">
                <!-- row -->
                <div class="row mrg-top-20">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label> Name</label>
                      <input type="text" name="recruiterName" class="form-control" placeholder="Enter  Name"
                        value="<%= employer.recruiterName %>" required>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label>Recruiter Email</label>
                      <input type="email" name="recruiterEmail" class="form-control"
                        placeholder="employer@employeeineed.com" value="<%= employer.recruiterEmail %>" required
                        disabled>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label>Phone</label>
                      <input type="text" class="form-control" name="phone" placeholder="91 256 254 4578"
                        value="<%= employer.phone %>">
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label>Company</label>
                      <input type="text" class="form-control" name="company" placeholder="Emplyer in need"
                        value="<%= employer.company %>">
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label>Address 1</label>
                      <input type="text" class="form-control" name="address1" placeholder="B-52"
                        value="<%= employer.address1 %>">
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label>Country</label>
                      <input type="text" value="United States" class="form-control" disabled>
                      <select class="form-control custom-select countries d-none presel-US" name="country"
                        id="countryId" required disabled>
                        <option value="">Select Country</option>
                      </select>
                    </div>
                  </div>
                  <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label>State</label>
                     <input type="text" value="<%=employer.state  %>" disabled class="form-control">
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label>City</label>
                     <input type="text" value="<%=employer.state  %>" disabled class="form-control">
                    </div>
                  </div> -->
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label>State</label>
                      <select class="form-control custom-select states " name="state" id="stateId" required>
                        <option value="">Select State</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label>City</label>
                      <select class="form-control custom-select cities " name="city" id="cityId" required>
                        <option value="">Select City</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label>Zip</label>
                      <input type="text" class="form-control" name="zip" placeholder="10001"
                        value="<%= employer.zip %>">
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label>Company Website</label>
                      <input type="text" class="form-control" name="companyWebsite" placeholder="www.employeeinneed.com"
                        value="<%= employer.companyWebsite %>">
                    </div>
                  </div>


                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                      <label>About Info</label>
                      <textarea class="form-control textarea" name="about"
                        placeholder="About Company"><%= employer.about %></textarea>
                    </div>
                  </div>
                </div>


                <button type="submit" class="btn-savepreview">Update Changes</button>
              </form>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- General Detail End -->

<%- partial("../partials/new-footer-employer.ejs") %>
<script>
  var selectedState ="<%=employer.state %>";
  var selectedCity ="<%=employer.city %>";
</script>
<script src="/plugins/js/countrystatecity.js"></script>
<script src="/js/employer/employer-profile.js"></script>

<!-- Map -->
<script src="http://maps.google.com/maps/api/js?key="></script>
<script src="/js/map_infobox.js"></script>
<script src="/js/markerclusterer.js"></script>
<script src="/js/map.js"></script>

<script>
  $('#birthday').dateDropper();
</script>
